<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Resources</h1></div>
        </div>
    </div>
	
	<div class="well outer-well">
        <div class="well">
		    <div class="panel panel-default">

                <!--<div class="panel-body" class="sectioncolor"><h1><strong><u><p class="midalign">Office Hours:</p></u><strong></u></strong></h1><br/></div>-->
					 <!--<div class ="panel-body">-->
						<!--<table border="3" width="100%" height="100%" class="midalign">-->
							<!--<tr><th>Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr>-->
							<!--<tr><td>8:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>9:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>10:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>11:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>12:00PM</td><td>CSE250:Lecture</td><td>Vincent</td><td>CSE250:Lecture</td><td>Vincent</td><td>CSE250:Lecture</td></tr>-->
							<!--<tr><td>1:00PM</td><td></td><td>Vincent</td><td></td><td>Vincent</td><td></td></tr>-->
							<!--<tr><td>2:00PM</td><td>Vincent</td><td></td><td></td><td></td><td>Vincent</td></tr>-->
							<!--<tr><td>3:00PM</td><td>Vincent</td><td></td><td>Sam</td><td></td><td>Vincent</td></tr>-->
							<!--<tr><td>4:00PM</td><td></td><td></td><td>Sam</td><td>Abhishek</td><td></td></tr>-->
							<!--<tr><td>5:00PM</td><td></td><td></td><td></td><td>Abhishek</td><td></td></tr>-->
							<!--<tr><td>6:00PM</td><td></td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>7:00PM</td><td>David</td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>8:00PM</td><td>David</td><td></td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>9:00PM</td><td></td><td>Jesse</td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>10:00PM</td><td></td><td>Jesse</td><td></td><td></td><td></td></tr>-->
							<!--<tr><td>11:00PM</td><td></td><td></td><td></td><td></td><td></td></tr>-->
						<!--</table>-->
					<!--</div>-->
					<!--<br/>-->
					<!--<br/>-->

						<div><h1><strong><u><p class="midalign">Useful Links:</p></u></strong></h1>
						<br/>
						<br/>
							<ul class="resources">
							<li><p><a href="http://www.cplusplus.com/reference/" target="_blank">Cplusplus.com - great reference tool.</a></p></li>
							<li><p><a href="http://en.cppreference.com/w/cpp" target="_blank">cppreference.com - also great reference.</a></p></li>
							<li><p><a href="http://www.learncpp.com/" target="_blank">learncpp.com - great beginner learning site.</a></p></li>
							<li><p><a href="https://www.codecademy.com/" target="_blank">codeacademy - learning programming/different languages.</a></p></li>
							<li><p><a href="http://stackoverflow.com/" target="_blank">stackoverflow.com - solving any of your technical issues.</a></p></li>
							</ul>
						</div>
						<br/>
						<br/>
						<div class="midalign"><h1><strong><u>More To Come!! Feel free to suggest:</u></strong></h1></div>
						
						<br/>
						<center>
						<img src="images/doggy.gif"/>
						</center>
			</div>
		</div>
	</div>
</div>