<div class="container">

    <div class="panel-group" class="positioning">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Schedule</h1></div>
        </div>
    </div>


    <div class="well">

        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Office Hours - Davis 302</h3></td>
            </tr>
            </thead>
            <tbody class="text-center">

            <tr>
                <td width="10%"></td>
                <td width="18%" class="active">Monday</td>
                <td width="18%" class="active">Tuesday</td>
                <td width="18%" class="active">Wednesday</td>
                <td width="18%" class="active">Thursday</td>
                <td width="18%" class="active">Friday</td>
            </tr>


            <tr>
                <td class="active">9am - 10am</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Sean</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10am - 11am</td>
                <td></td>
                <td>Ruhan</td>
                <td></td>
                <td>Sean</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11am - 12pm</td>
                <td></td>
                <td>Ruhan</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">12pm - 1pm</td>
                <td></td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">1pm - 2pm</td>
                <td></td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">2pm - 3pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">3pm - 4pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">4pm - 5pm</td>
                <td></td>
                <td>Ruhan</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">5pm - 6pm</td>
                <td></td>
                <td>Ruhan</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">6pm - 7pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">7pm - 8pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">8pm - 9pm</td>
                <td></td>
                <td></td>
                <td>Steve</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">9pm - 10pm</td>
                <td></td>
                <td>Jesse</td>
                <td>Steve</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10pm - 11pm</td>
                <td></td>
                <td>Jesse</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11pm - 12am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>



        <table class="table table-bordered">
            <tbody>


            <tr class="active">
                <td colspan="3"><b>Week 9</b><span class="pull-right">March 21 - March 25</span>
                </td>
            </tr>

            <tr>
                <td width="10%"></td>
                <td colspan="2">C++ and Objects</td>
            </tr>

            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW4 Due</b>
                    <b>Friday, March 25 @ 11:59pm </b>
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 10</b><span class="pull-right">March 28 - April 1</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Interfaces, Polymorphism</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 11</b><span class="pull-right">April 4 - April 8</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">STL, Vector, Iterator, File Formats</td>
            </tr>

            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW5 Due</b>
                    <b>Friday, April 8 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 12</b><span class="pull-right">April 11 - April 15</span>
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Stack, Queue, List</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW6 Due</b>
                    <b>Friday, April 15 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 13</b><span class="pull-right">April 18 - April 22</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Tree</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW7 Due</b>
                    <b>Friday, April 22 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 14</b><span class="pull-right">April 25 - April 29</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Set, GUI, Data Visualization</td>
            </tr>



            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW8 Due</b>
                    <b>Friday, April 29 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 15</b><span class="pull-right">May 2 - May 6</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Examples, Review, Projects</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">Projects Due</b>
                    <b>Friday, May 6 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr>
                <td colspan="3"><b>Final Exam</b><span class="pull-right">Thursday, May 12 @ 11:45am-2:45pm Cooke 121</span></td>
            </tr>

        </table>


    </div>
</div>