<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Homework 5</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <p> <font color="red"> Notice: If you have downloaded hw5.zip before, you should download it again. We have made some changes to RLC and circuitAC. Make sure yours is up-to-date. </font> </p>
            <h3>Due Date</h3>
            Friday, April 8 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3>Objectives</h3>
            <ul>
                <li>Practice with C++ Classes and Inheritance</li>
                <li>File IO</li>
                <li>Data Representation</li>
            </ul>

        </div>

        <div class="well">
            <h3>Resources</h3>
            Low Pass Filter: <a href="http://www.electronics-tutorials.ws/filter/filter_2.html">http://www.electronics-tutorials.ws/filter/filter_2.html</a><br/>
            RLC Circuit: <a
                href="https://en.wikipedia.org/wiki/RLC_circuit">https://en.wikipedia.org/wiki/RLC_circuit</a>
        </div>

        <div class="well">

            <h3>Circuit Simulations</h3>
            <br/>

            <p>
                For this assignment we will gain practice with classes and interfaces while simulating various circuits.
                There will be two different interfaces to implement, DC circuit and AC circuit, which can be found in
                the downloaded code.
            </p>
            <p>
                For all circuits you can assume that time starts at 0 and that the voltage is 0 for all t<0.
            </p>

            <br/>

            <hr/>


            <h4 class="text-center">Resistance Circuit (1 point)</h4>
            <br/>

            <p>
                Implement the resistance circuit class that simulates the current over time when a DC voltage is
                applied.
            </p>

            <br/>
            <hr/>


            <h4 class="text-center">Static Low Pass Filter (1 point)</h4>
            <br/>

            <p>
                Implement the LowPassFilter class that simulates the output voltage over time when a AC voltage is
                applied. Formula is given below.
                <p></p>
                <img src="images/LPF.png">
            </p>

            <br/>
            <hr/>


            <h4 class="text-center">RLC Circuit (1 point)</h4>
            <br/>

            <p>
                Implement the RLC class that simulates the current over time when a AC voltage is
                applied to a series RLC circuit. Formula is given below.
                <p> </p>
                <img src="images/circuit.png">
            </p>
            <h4 class="text-center">Plot results (1 point)</h4>
            <br/>
            <p>
                Plot the results using following input. You can choose any tools ( Excel, Matlab, Python...) for plotting.
            <h5> Resistance Circuit: plot current over time</h5>
            <ul>
                <li>input: voltage = 5v, resistance = 200 &Omega;, stop_time = 10 s, time_interval = 1 s</li>
            </ul>
            <h5> Low Pass Filter: plot output voltage over time</h5>
            <ul>
                <li>input 1: voltage = 10 v, resistance = 4700 &Omega;, capacitance = 47e-9 F, stop_time = 10 s, time_interval = 1 s, frequency = 100 Hz</li>
                <li>input 2: voltage = 10 v, resistance = 4700 &Omega;, capacitance = 47e-9 F, stop_time = 10 s, time_interval = 1 s, frequency = 10000 Hz</li>
            </ul>
            <h5> RLC: plot current over time</h5>
            <ul>
                <li> input 1: voltage = 180 v, resistance = 12 &Omega;, inductance = 0.15 H, capacitance = 1e-4 F, stop_time = 10 s, time_interval = 0.1 s, frequency = 60 Hz </li>
                <li> input 2: voltage = 180 v, resistance = 12 &Omega;, inductance = 0.15 H, capacitance = 1e-4 F, stop_time = 10 s, time_interval = 0.1 s, frequency = 6 Hz</li>
                <li> input 3: voltage = 180 v, resistance = 12 &Omega;, inductance = 0.15 H, capacitance = 1e-4 F, stop_time = 10 s, time_interval = 0.1 s, frequency = 600 Hz</li>
            </ul>
            </p>
            <h4 class="text-center"> sample plots</h4>
            Here are the sample plots. You can also download <a href="homeworkCode/sample_plot.zip">sample_plot.zip</a> to see the inputs, source code and csv files for these plots.
            <h5> Resistance circuit plot example</h5>
            <p>input: Voltage = 5v, resistance = 10 Ω, stop_time = 10 s, time_interval = 1 s</p>
            <p> <img src="images/hw5/R.png"></p>
            <h5> Low pass filter plot example</h5>
            <p>input: voltage = 5 v, resistance = 7000 Ω, capacitance = 10e-9 F, stop_time = 10 s, time_interval = 1 s, frequency = 50 Hz</p>
            <p> <img src="images/hw5/LPF.png"></p>
            <h5> RLC plot example</h5>
            <p>input: voltage = 110 v, resistance = 20 Ω, inductance = 0.15 H, capacitance = 1e-4 F, stop_time = 10 s, time_interval = 0.1 s, frequency = 60 Hz </p>
            <p> <img src="images/hw5/RLC.png"></p>
            <br/>
            <hr/>


            <div class="well">
                <h3>Code</h3>
                Download and complete this file with your solutions. Example output is given.
                <p> Output data is computed based on the input in hw5.zip.</p> <br/>
                <p><a href="homeworkCode/hw5.zip">hw5.zip</a></p>
                <p><a href="homeworkCode/output_example.zip">output_example.zip</a></p>
            </div>

            <div class="well">
                <h3>Submission</h3>
                Submit each of the following files individually on the submission website: ResistanceCircuit.h,
                ResistanceCircuit.cpp, RLC.h, RLC.cpp, LowPassFilter.h, LowPassFilter.cpp, plots.pdf<br/>
                <a href="https://www-student.cse.buffalo.edu/planetexpress/">https://www-student.cse.buffalo.edu/planetexpress/</a>

                <br/>

            </div>
        </div>

    </div>

