<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>C++ Functions & References</h1></div>
        </div>
    </div>

    <div class="well outer-well">


		<div class="well">
			<h2>Questions</h2>
			Submit questions/comments here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
		</div>

        <div class="well">
		    <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor"><h1><strong><u>Upcoming:</u><strong></u></strong></h1><br/></div>
					<ul>
						<li><h2>Functions</h2></li>
						<li><h2>References & </h2></li>
						<li><h2>Objects</h2></li>
						<li><h2>Classes</h2></li>
						<li><h2>Inheritance</h2></li>
						<li><h2>Pointers</h2></li>
					</ul>
			</div>
			<div class="container"></div>
			
			<div class="well">
				<div class="sectioncolor">
                <p>
                <h1><u>Function Declarations and Definitions:</u></h1>
				</p>
					<ul>
						<li>Programs begin executing at the beginning of function main()</li>
						<li>Always have a function main() somewhere in your program.</li>
						<li>Functions consist of a header and a body as well as a return type specification.</li>
						<li>The function produces information based on the information it expects the arguments to pass to it</li>
						<li>The function body consists of statements and ends with a pair of closed braces ({}).</li>
					</ul>
					<h1><u>In C++, a function must be declared before it is called</u></h1>
					
					<div>
						<textarea rows = "20" cols = "100">
//function addition example
#include &lt;iostream&gt;
using namespace std;
						
int addition(int a,int b){
						
  int r;
  r = a + b;
  return r;
}
						
int main(){
  int z;
  z = addition(5,3);
  cout << "The result is " << z;
}
						</textarea>
					</div>
							
					<hr/>
					<hr/>
					<div class="sectioncolor">
						<ul>
							<li>This is a function definition of an addition function</li>
							<li>In C++, you <span><strong><u>must</u></strong></span> declare a function before it is ever used.</li>
							<li>The declaration would be <strong> int addition(int a, int b); </strong></li>
							<li>Because of this you will normally define a function later.</li>
							<li>You <span><strong>should</strong></span> put declarations at the beginning of a file known as a "header file"</li>
							<li>This function can exist in a mathFunctions.cpp file. In the head of the file, you will want to put - #include "mathFunctions.h"
						</ul>
					
					<h1><u> References &: </u></h1>
						<ol>
							<li>A reference variable is an alias that is another name for an existing variable</li>
							<li>A variable name is a label to it's location that exists in memory.</li>
							<li>Therefore creating an alias allows you to access that memory location.</li>
						</ol>
					</div>
						<div class="sectioncolor" >
							<textarea rows="30" cols="100" >
#include &lt;iostream&gt;
using namespace std;
 
int main ()
{
  // declare simple variables
  int    i;
  double d;
 
  // declare reference variables
  int&    r = i;
  double& s = d;
   
  i = 5;
  cout << "Value of i : " << i << endl;
  cout << "Value of i reference : " << r  << endl;
 
  d = 11.7;
  cout << "Value of d : " << d << endl;
  cout << "Value of d reference : " << s  << endl;
   
  return 0;
}
								
							</textarea>
						</div>
						
						
						<div class = "sectioncolor">
							<h3><u>Output:</u></h3>
							<textarea rows = "10" cols ="50">
Value of i : 5
Value of i reference : 5
Value of d : 11.7
Value of d reference : 11.7
							</textarea>
						</div>
						*Notice the behavior of the reference variable.*
						<ol>
							<li>If we were to assign r to 10, (r = 10;),value of x would change to 10.</li>
							<li>If we were to assign d to 20, (d = 20;),value of s would change to 20.</li>
							<li>Reason for doing this? When we can access references r and s but not i and d.</li>
						</ol>
						
						<hr/>
						<hr/>
						
						<h1><u>Back to functions:</u></h1>
							<div class ="sectioncolor">
								<ul>
									<li>void square(int i){i = i * i;}</li>
									<li>inr r = 5;</li>
									<li>square(r);</li>
									<li>r == 5</li>
									<li>when you call function square, int i = r</li>
									<li>i = i * i; </li>
								</ul>
							</div>
							
							<hr/>
							<hr/>
							<h1><u>Back to functions: & </u></h1>
								<ul>
									<li>void square(int& i){i = i * i;}</li>
									<li>int r = 5;</li>
									<li>square(r);</li>
									<li>r == 25</li>
									<li>When you call function square, int& i = r</li>
									<li>i = i * i</li>
									<li>Use references when you want a function to alter a parameter</li>
								</ul>
								<div>

								<h1><u>Upcoming:</u></h1>
									<ul>
										<li>Pointers*</li>
										<li>Classes</li>
										<li>Inheritance</li>
									</ul>

								<img src="https://pbs.twimg.com/media/Bo45ZySIIAA5lP0.png" >
								</div>

								<hr/>
								<hr/>

								<h1><u>Objects in C++: </u></h1>
									<div>
										<h3>Things to Note:</h3>
										<ul>
											<li>Same object oriented concepts as Java</li>
											<li>Syntax is <span><strong><u>very</u></strong></span> different</li>
											<li>public & private section</li>
											<li>separation of declaration and definition</li>
											<li>You are allowed to do <span><u>operator overloading</u></span> in C++</li>
											<li>We'll see more next lecture</li>
										</ul>
									</div>	
				</div>
            </div>
        </div>
    </div>
</div>