<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Inheritance</h1></div>
        </div>
    </div>


    <div class="well outer-well">

        <div class="well">
            <div class="sectioncolor">
                <h2><u>Inheritance:</u></h2>
                <ul>
                    <li><font color="red">Inheritance</font> is one of the most powerful Object Oriented Programming tools.</li>
                    <li> Inheritance is a relationship between classes in which one class inherits the properties of another class.</li>
                    <li> Think of inheritance as an "is-a" relationship. </li>
                    <p></p>
                    <p></p>
                    <p><img src="images/inheritance/1.png"></p>
                    <li> Whenever an object is a type or subgroup of another object, it is appropriate to use inheritance. </li>
                    <li> Using inheritance, properties from one class ( higher in hierarchy, called <font color="red">parent class</font> ) can become properties of another class (lower in hierarchy, called <font color="red">child class</font>) without coding them explicitly within this class.</li>
                </ul>
                <h2><u>Code example:</u></h2>
                <textarea rows="17" cols="100">
class Amplifier { //parent class
public:
    float gain;  // gain
    float involt, outvolt; //input, output voltage
    void setGain(float gain); //set gain
    void setInvolt(float vin); // set input voltage
    float getOutvolt(); // computes and displays output voltage
}

class OPAMP: public Amplifier { // child class
private:
    float rin; // input register
    float rout; // feedback resistor
public:
    void setRes(float r); //sets resistors
    float getGain(); // computes and returns gain
}
                </textarea>
                <p><u>note that all six public members of the Amplifier class are inherited by the OPAMP class that is derived from Amplifier.</u></p>
                <h2><u>access specifiers: public, protected and private</u></h2>
                <ul>
                    <li> public: make the property inheritable by the child classes.</li>
                    <li> private: any class that is derived from this class cannot inherit these properties.</li>
                    <li> protected: any class that is derived from this class have access to its members while keeping these members hidden from the rest of the program.</li>
                </ul>
                <textarea rows="18" cols="50">
class Amplifier { //parent class
private:
    float involt, outvolt; //input, output voltage
protected:
    float gain;  // gain
public:
    void setGain(float gain); //set gain
    void setInvolt(flost vin); // set input voltage
    float getOutvolt(); // computes and displays output voltage
}

class OPAMP: public Amplifier { // child class
private:
    float rin; // input register
    float rout; // feedback resistor
public:
    void setRes(float rin, float rout); //sets resistors
    float getGain(); // computes and returns gain
}
                </textarea>
                <p><u>Members of the OPAMP class</u></p>
                <p><img src="images/inheritance/2.png"></p>
                <h2><u>constructing and destroying child class</u></h2>
                <ul>
                    <li> Every parent and child class should have its own constructor and destructor functions. They cannot be inherited. </li>
                    <li> When instantiating an object of a child class, constructor of all of its parent classes are executed prior to the child class constructor.</li>
                    <li> </lI><p></p>
                        <p></p>
                        <p><img src="images/inheritance/3.png"></p>
                    <li> Destructors are executed in reverse order. </li>
                    <li> What if the parent constructor has arguments?</li>
                    <li> When defining the child class constructor, a constructor initialization list must be created. For example:</li>
                </ul>
                <textarea rows="20" cols="100">
class Amplifier { //parent class
private:
    float involt, outvolt; //input, output voltage
public:
    Amplifier(float i, float g){
        involt = i;
        gain=g;
        outvolt = involt*gain;
    }// constructor
}

class OPAMP: public Amplifier { // child class
private:
    float rin; // input register
    float rout; // feedback resistor
public:
    OPAMP(float ri, float ro, float i, float g):Amplifier(i, g){
        rin = ri;
        rout = ro;
    } </textarea>
                <h2>To sum up...</h2>
                <p> For operational amplifier shown here </p>
                <p> <img src="images/inheritance/4.png"></p>
                <p> Determine voltage gain, using formula gain = 1 + Rout/Rin </p>
                <p> Determine output voltage Vout = gain* Vin</p>
<textarea rows="50" cols="100">
#include &lt;iostream&gt;
#include &lt;iomanip&gt;
using namespace std;

class Amplifier { //parent class
private:
    float involt, outvolt; //input, output voltage
protected:
    float gain;  // gain
public:
    Amplifier(){};
    Amplifier(float i, float o){
        involt = i;
        outvolt=o;
    }// constructor
    ~Amplifier(){ cout &lt;&lt; "destroying amplifier"  &lt;&lt; endl; }
    void setGain(float g) {gain = g; };//set gain
    void setInvolt(float i){involt = i;}// set input voltage
    float getOutvolt(){outvolt = involt*gain; return outvolt;} // computes and displays output voltage

};

class OPAMP: public Amplifier { // child class
private:
    float rin; // input register
    float rout; // feedback resistor
public:
    OPAMP(){};
    OPAMP(float ri, float ro, float i, float g): Amplifier(i, g){
        rin = ri;
        rout = ro;
    }
    void setRes(float r1, float r2){rin = r1; rout=r2;} //sets resistors
    float getGain(){gain = 1 + rout/rin; return gain;} // computes and returns gain
};

int main(){
    OPAMP amp1;
    float r1, r2, volt;
    cout &lt;&lt; "Enter input and feedback resistor =>" ;
    cin &gt;&gt;r1 &gt;&gt; r2;
    amp1.setRes(r1, r2);
    cout &lt;&lt; "Enter input voltage =>" ;
    cin &gt;&gt;volt;
    amp1.setInvolt(volt);
    cout &lt;&lt; "Gain = " &lt;&lt; amp1.getGain() &lt;&lt; endl;
    cout &lt;&lt; "output voltage = " &lt;&lt; amp1.getOutvolt() &lt;&lt; endl;
    return 0;
}
</textarea>
            </div>
        </div>
        <!--<h2><u>this</u></h2>-->
        <!--<font color="red">this</font> is a special kind of pointer. this stores the address of an object being used.-->
        <!--<textarea rows="10" cols="100">-->
            <!--class pixel{-->
                <!--int x, y;-->
            <!--public:-->
                <!--void set(int a, int b){this->x = a; this->y = b;}-->
                <!--void get(){cout &lt;&lt; this->x &lt;&lt; this->y;&lt;&lt; endl;}-->
            <!--}-->
        <!--</textarea>-->

        <h2><u>override</u></h2>
        <p>When inheriting from a parent class, some inherited members can be overriden. </p>
        <textarea rows="15" cols="100">
#include &lt;iostream&gt;
using namespace std;
class Resistor{
public:
    float r; // resistance
    Resistor(float x){ r = x;}
    void getVal() {cout &lt;&lt; "r = " &lt;&lt; r &lt;&lt; endl;}
};

class Circuit:public Resistor{
public:
    double c;//capacitance
    Circuit(float x, float y):Resistor(x){  c = y;}
    void getVal(){ cout &lt;&lt; "r = " &lt;&lt; r &lt;&lt; ", c = " &lt;&lt; c &lt;&lt; endl;}
};
        </textarea>
        <h2><u>virtual functions</u></h2>
        <p> Tells compiler to expect function to be overriden. Thus checks actual object type for another function definition with same function header.</p>
        <textarea rows="15" cols="100">
#include &lt;iostream&gt;
using namespace std;
class Resistor{
public:
    float r; // resistance
    Resistor(float x){ r = x;}
    virtual void getVal(){cout &lt;&lt; "r = " &lt;&lt; endl;}
};

class Circuit:public Resistor{
public:
    double c;//capacitance
    Circuit(float x, float y):Resistor(x){  c = y;}
    void getVal(){ cout &lt;&lt; "r = " &lt;&lt; r &lt;&lt; ", c = " &lt;&lt; c &lt;&lt; endl;}
};
        </textarea>
        <h2><u>abstract base class (parent class)</u></h2>
        <p> same as interface in Java. </p>
        <p> when designing an inheritance hierarcy, virtual functions should be used for common behaviors.</p>
        <textarea rows="18" cols="100">
#include &lt;iostream&gt;
using namespace std;
class Resistor{
public:
    float r; // resistance
    Resistor(float x){ r = x;}
    virtual void getVal(){cout &lt;&lt; "r = " &lt;&lt; endl;}
    virtual double reactance()=0; // pure virtual function
};

class Circuit:public Resistor{
public:
    double c;//capacitance
    Circuit(float x, double y):Resistor(x){  c = y;}
    void getVal(){ cout &lt;&lt; "r = " &lt;&lt; r &lt;&lt; ", c = " &lt;&lt; c &lt;&lt; endl;}
    double reactance(){return (-1.0/2.0*3.14*60.0*c);}
};
        </textarea>

        <p> * Most contents are referenced from book "Object-Oriented Programming Using C++ for engineering and Technology" by Goran Svenk. </p>
    </div>

</div>

