<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Objects and Memory management</h1></div>
        </div>
    </div>


    <div class="well outer-well">
        <div class="well">
            <h1>Allocating objects at run-time</h1>
            <h2><u>new and delete operators</u></h2>
            Remember, we were using malloc in C? Now we can use
            <ul>
                <li> <font color="red">new</font>: allocate memory, dynamically!</li>
                <li> <font color="red">delete</font>: release the memory</li>
            </ul>
            <p>Battery example</p>
            <textarea rows="50" cols="100">
#include &lt;iostream&gt;
using namespace std;

class Battery{ // keyword class
    private: // accessing specifier
        float voltage;  // properties or member variable
        float capacity;
    public:
        void enterValues(){
            cout &lt;&lt; "What is the voltage?" &lt;&lt; endl;
            cin &gt;&gt; voltage;
            cout &lt;&lt; "What is the capacity?" &lt;&lt; endl;
            cin &gt;&gt; capacity;
        }
        void printValues(){
            cout &lt;&lt; "Voltage is " &lt;&lt; voltage &lt;&lt; endl;
            cout &lt;&lt; "Capacity is " &lt;&lt; capacity &lt;&lt; endl;
        }
};
int main(){
    int num;
    cout &lt;&lt; "how many batteries?" &lt;&lt; endl;
    cin &gt;&gt; num;

    // based on the use input, allocating dynamic array of objects
    Battery *batteries = new Battery[num];

    // Before doing anything, check if we actually have free storage for this many batteries.
    if ( !batteries){
        cout &lt;&lt; "Not enough memory for this allocation." &lt;&lt; endl;
        exit(1);
    }
    // do something with the memory.
    for ( int i = 0; i &lt; num; i++){
        cout &lt;&lt; "Battery # " &lt;&lt; i &lt;&lt; endl;
        batteries[i].enterValues();
        batteries[i].printValues();
    }

    // release the memory
    delete []batteries;
    return 0;
}
            </textarea>
            <p>To understand this better, let's look at what has happened in memory when doing dynamic allocation.</p>
            <h2><u>memory</u></h2>
            Memory in  C++ program is divided into two parts:
            <ul>
                <li>The stack: All variables declared inside the function will take up memory from the stack.
                <li>The heap: This is unused memory of the program and can be used to allocate the memory dynamically when program runs.
            </ul>
            <p> <u> declare an object variable</u></p>
            <p> <img src="images/lecture2/mem_1.png"></p>
            <p> <u> declare a pointer and allocate memory</u></p>
            <p> <img src="images/lecture2/mem_2.png"> ---> <img src="images/lecture2/mem_3.png"></p>
            <p> <u> assign element of the array to variable</u></p>
            <p> <img src="images/lecture2/mem_4.png"></p>

            <h2><u>constructor and destructor</u></h2>
            <h3>Constructor</h3>
            <p> Is there a better way to set the value of the perperty?</p>
            <p> 1. initialize default values in default constructor.</p>
            <textarea rows="12" cols="100">

class Battery{ // keyword class
    private: // accessing specifier
        float voltage;  // properties or member variable
        float capacity;
    public:
        Battery(){ // default
            voltage = 12.0;
            voltage = 13.0;
        }
};
                </textarea>
            <p> <img src="images/lecture2/mem_5.png"></p>
            <p> 2. Define constructor with arguments</p>
            <textarea rows="12" cols="100">

class Battery{ // keyword class
    private: // accessing specifier
        float voltage;  // properties or member variable
        float capacity;
    public:
        Battery(float v, float c){ // constructor with argument
            voltage = v;
            voltage = c;
        }
};
            </textarea>
            <p> <img src="images/lecture2/mem_6.png"></p>

            <h3>Constructor properties</h3>
            <ul>
                <li>It has the same name as the class for which it is designed.</li>
                <li>It has no return type.</li>
                <li>Unlike other functions, it is never explicitly called.</li>
            </ul>

            <h3> destructor</h3>
            <p> properties</p>
            <ul>
                <li> Its name is the tilde (~) character followed by class name.</li>
                <li> It cannot have a return type.</li>
                <li> It cannot have arguments.</li>
                <li> It is automatically called when an object goes out of scope.</li>
            </ul>

            <textarea rows="26" cols="100">
#include &lt; iostream &gt;
using namespace std;
class Battery{ // keyword class
    private: // accessing specifier
        float voltage;  // properties or member variable
        float capacity;
    public:
        Battery(float v, float c){ // constructor with argument
            voltage = v;
            voltage = c;
        }

        ~Battery(){
            cout &lt;&lt; "Battery is destructed" &lt;&lt; endl;
        }
};

int main(){
    int num;

    Battery b(12.0, 13.0);

    return 0; // destructor will be called automatically
}
            </textarea>
        </div>

        <div class="well">
            <a href="codeExamples/batteryCode.zip"><h2>Code From Live Example</h2></a>
        </div>
    </div>
</div>





<!--&lt;!&ndash;<div class="sectioncolor"><h2>Agenda</h2></div>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>cout</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>namespace</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>C++ Syntax</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>Fundamental Data Types</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>Declarations and Definitions</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>Control Structures</h4></li>&ndash;&gt;-->

<!--&lt;!&ndash;</ul>&ndash;&gt;-->


<!--<div class="sectioncolor"><h1><u>Fundamental Data Types:</u></h1></div>-->
<!--<div><p>Boolean,characters,integers,floats, and void</p></div>-->
<!--<ul>-->
<!--<li>bool: true or false</li>-->
<!--<li>char: a character</li>-->
<!--<li>string: an array of characters</li>-->
<!--<li>int, long: an integer</li>-->
<!--<li>float, double: a floating-point real number</li>-->
<!--<li>wchar_t, char16_t, char32_t, short, signed, unsigned, etc...</li>-->
<!--</ul>-->
<!--<p>-->
<!--<h3><u>*We can use cout to output these variables:</u></h3></p>-->

<!--<div class="sectioncolor"><h1><u>Output:</u></h1></div>-->
<!--<textarea rows="10" cols="50">-->
<!--I am Bjarne Stroustrup.-->
<!--I am very 1.-->
<!--My name begins with B.-->
<!--My age is 65.-->
<!--There are 365.25 days in a year.-->

<!--</textarea>-->
<!--<div>-->
<!--<p>*Notice that it doesn't print true. In C++(unlike Java), treats true == 1 and false == 0;-->
<!--</div>-->

<!--<hr/>-->
<!--<hr/>-->

<!--<div class="sectioncolor"><h1><u>Declarations and Definitions:</u></h1></div>-->
<!--<ul>-->
<!--<li>Like Java, all variables must be declared before used</li>-->
<!--<li>You cannot have repeated variable names regardless of data type</li>-->
<!--<li>You can have multiple variable declarations at once</li>-->
<!--<li>Many declarations are also definitions</li>-->
<!--</ul>-->
<!--<textarea rows="14" cols="100">int column, row, index = 0;-->
<!--//only index is set to 0. Instead do:-->

<!--int column, row, index;-->
<!--column = index = row = 0;-->

<!--// Or:-->

<!--int column = 0;-->
<!--int row = 0;-->
<!--int index = 0;-->
<!--</textarea>-->
<!--<div class="sectioncolor"><h1><u>Again we have some variable Declarations:</u></h1></div>-->
<!--<h3>//variable declarations.</h3>-->
<!--<p>string name;-->
<!--<br>char c;-->
<!--<br>int i;-->
<!--<br>bool smart;-->
<!--<br>double avg;-->
<!--</p>-->
<!--<h3>//type declaration(type struct).</h3>-->
<!--<p>struct Date;</p>-->
<!--<h3>//a const bool declaration</h3>-->
<!--<p>const bool i_am_here = true;</p>-->
<!--<p>A const variable can not be reassigned</p>-->
<!--<h3>//a function declaration</h3>-->
<!--<p>int linearSearch(int array[], int size,int searchKey); //returns int value,takes int type parameter.-->


<!--<div class="sectioncolor"><h1><u>Now we have Definitions:</u></h1></div>-->
<!--<div>-->
<!--<h3>//Definition of function linearSearch().</h3>-->
<!--<p>int linearSearch(int array[], int size,int searchKey){-->
<!--<br>&nbsp; &nbsp;for(int i = 0; i < size; i++){-->
<!--<br>&nbsp; &nbsp;&nbsp; &nbsp;if(searchKey == array[i]){-->
<!--<br>&nbsp; &nbsp;&nbsp; &nbsp;return i;-->
<!--<br>&nbsp; &nbsp;&nbsp; &nbsp; }-->
<!--<br>&nbsp; &nbsp;}-->
<!--<br>return -1;-->

<!--<br>}-->
<!--</p>-->
<!--</div>-->
<!--<div>-->
<!--<h3>Definition of struct Date</h3>-->
<!--<p> struct Date {-->
<!--<br> &nbsp; &nbsp; &nbsp; int day;-->
<!--<br> &nbsp; &nbsp; &nbsp; int month;-->
<!--<br> &nbsp; &nbsp; &nbsp; int day;-->
<!--<br> &nbsp;};-->

<!--</p>-->

<!--</div>-->
<!--<div>-->
<!--<h3>Declarations do not have default values</h3>-->

<!--</div>-->
<!--<div>-->
<!--<h3>These declarations are *not* definitions</h3>-->

<!--</div>-->

<!--<hr/>-->
<!--<hr/>-->
<!--<div class="sectioncolor"><h1><u>Again:</u></h1></div>-->
<!--<ul>-->
<!--<li>Every name (identifier) must be declared before use</li>-->
<!--<li>A name can be declared multiples times-->
<!--Helps with separate compilation.-->
<!--Defined in one file, declared and used in others-->
<!--More about this in a couple of lectures-->
<!--</li>-->
<!--<li>There is &le; 1 definition per name</li>-->
<!--<li>Some declarations are also definitions</li>-->


<!--</ul>-->

<!--<hr/>-->
<!--<hr/>-->