<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Objects, Properties, Method</h1></div>
        </div>
    </div>


    <div class="well outer-well">

        <div class="well">
            <h2>Questions</h2>
            Submit questions/comments here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </div>
        <div class="well">
            <a href="EAS240syllabus.pdf"><h2>Syllabus</h2></a>
        </div>

        <div class="well">

               <h1>From this class on, we will talk about C++! So what's the difference?!</h1>


        </div>


        <div class="well">
            <div class="sectioncolor">
                <h1> From C to C++</h1>
                <img src="images/c2cplusplus_2.png"/>
                <img src="images/c2cplusplus_1.jpg"/>
                <img src="images/c2cplusplus_3.png"/>
                <img src="images/c2cplusplus_4.jpg"/>
                <img src="images/c2cplusplus_5.jpg"/>
                <h2> well, you get the idea...</h2>

                <p></p>
                <ul>
                    <li>C++ is evolved from C, but more powerful!</li>
                    <li>C++ provide <font color="red">Object-Oriented Programming</font> aproach. (c has no class)</li>
                    <li>Instead of C's standard I/O functions, C++ use different tools.</li>
                    <li>C++ also provides namespace</li>
                </ul>
                But what is object-oriented programming? And what is namespace? Why do we need it? How? Why? What?!...
                We will discuss it in detail later. But first, let's talk about some basic coding differences.
            </div>
            <p><h2><u>namespace, input/output, header files</u></h2> </p>
            <div class="textAreaColumn">
                <div>
                    <span>C++</span>
                    <textarea rows="28" cols="100" >
#include &lt;iostream&gt; // this is how it looks like for C++
#include &lt;string&gt;

//using this is optional. We will switch between using and not this semester.
//using namespace std; allows you to just write cout, otherwise std::cout &lt;&lt; is required.
//std stands for C++ Standard Library.
using namespace std;

int main(){
  string my_name;
  string my_text_editor = &quot;Sublime&quot;;
  string my_home_os = &quot;Windows&quot;;

  //endl and &apos;\n&apos; essentially accomplish the same task.
  cout &lt;&lt; &quot;Your name is ?&quot; &lt;&lt; endl;
  cin &gt;&gt; my_name;
  cout &lt;&lt; &quot;Hi &quot; &lt;&lt; my_name &lt;&lt; &quot;!&quot; &lt;&lt; endl;
  cout &lt;&lt; &quot;My text editor of choice is &quot; &lt;&lt; my_text_editor &lt;&lt; &quot;.&quot; &lt;&lt;&apos;\n&apos;;
  cout &lt;&lt; &quot;My home os runs &quot; &lt;&lt; my_home_os &lt;&lt; &quot;.&quot; &lt;&lt; endl;

  //return 0; is essential because int main must return something. This is good practice to show
  // main is successfully executed.
  return 0;
}
                    </textarea>
                </div>
                <div>
                    <span>C</span>
                    <textarea rows="28" cols="100">

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;


int main(){
  char* my_name = (char *)malloc(30*sizeof(char));
  char* my_text_editor = &quot;Sublime&quot;;
  char* my_home_os = &quot;Windows&quot;;

  printf(&quot;Your name is ?\n&quot;);
  scanf(&quot;%s&quot;, my_name);
  printf(&quot;Hi %s!\n&quot;, my_name);
  printf(&quot;My text editor of choice is %s\n&quot;, my_text_editor);
  printf(&quot;My home os runs %s\n&quot;, my_home_os);


  return 0;
}




                    </textarea>
                </div>
            </div>

            <div class="sectioncolor">
                <p>
                <h2><u>new datatypes</u></h2>
                </p>
                <ul>
                    <li>bool: true or false</li>
                    <li>string: an array of characters</li>
                </ul>

                <textarea rows="16" cols="100">
#include &lt;iostream&gt; // this is how it looks like for C++
#include &lt;string&gt;

using namespace std;

int main(){
    int i = 0;
    string title = &quot;Now the iteration number is: &quot;;
    while(true){
        if ( i++ == 10){
        break;
        }
    cout &lt;&lt; title &lt;&lt; i &lt;&lt; endl;
    }
}
                </textarea>
                <p style="color:red">Note that in C++(unlike Java), treats true == 1 and false == 0; </p>
            </div>
            <P><h2><u>C++ reference</u></h2></P>
            <h3>reference as independent variables</h3>
            <ul>
                <li>decalaration: data_type & reference_name = variable_name</li>
                <li><img src="images/pointer.png"> =====> <img src="images/pointer_2.png"></li>
            </ul>
            <h3>passing references to functions</h3>
            <p style="color:red"> Note that this is different from C style pass by reference!</p>
            <div class="textAreaColumn">
                <div>
                    <span>C++ style pass by reference</span>
                <textarea rows="20" cols="100" >
#include &lt;iostream&gt; // this is how it looks like for C++
#include &lt;string&gt;

using namespace std;

void value(int i){
    i = 20;
}

void ref(int &amp;i){
    i = 20;
}

int main(){
    int i = 10;
    value(i);
    cout &lt;&lt; i &lt;&lt; endl; // this will output 10

    ref(i);
    cout &lt;&lt; i &lt;&lt; endl; // this will output 20
}
                </textarea>
                </div>
                <div>
                    <span>C style pass by reference</span>
                <textarea rows="20" cols="100">

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

void value( int i){
    i = 20;
}

void ref( int *i){
    *i = 20;
}

int main(){
    int i = 10;
    value(i);
    cout &lt;&lt; i &lt;&lt; endl; // this will output 10

    ref(&amp;i); // note that this is passing the address
    cout &lt;&lt; i &lt;&lt; endl; // this will output 20
}




                </textarea>
                </div>
            </div>
            Difference between passing by value and reference?
            <ul>
                <li>Former makes a copy of the value of the argument, and do manipulation on the copy. So the original variable value does not change after the function.</li>
                <li>Latter manipulate on the address, so the variable value changes after the function.</li>
            </ul>
            When do we use reference?
            <ul>
                <li> When we want to change the original variable value.</li>
                <li> When the variable is too big and it is a waste of memory to make a copy.</li>
            </ul>
        </div>
        <div class="well">
            <div class="sectioncolor">
                <p>
                <h1><u>Compiling your code:</u></h1></p>
            </div>
            <ul>
                <li><h4>Text Editor/Terminal (Recommended)</h4></li>
            </ul>
            This is the safest way to edit and compile your C++ code. It is recommended that you use an editor that
            support syntax highlighting such as <a href="http://www.sublimetext.com/">Sublime</a>, <a
                href="http://www.barebones.com/products/textwrangler/download.html">Text Wrangler</a> (OSX), or <a
                href="https://notepad-plus-plus.org/">NotePad++</a> (Windows).
            <ul>
                <li><h4>IDE</h4></li>
            </ul>
            You might want to use an IDE. You are free to use any IDE you wish to help write your code, but the teaching
            staff will only officially support text editors and command line compiling. This means that we will not help
            you configure your machine with Visual Studio if you can't get it to work with the homework assignments.


            Regardless of how you edit your code, your submissions must compile and run properly on timberlake in order
            to receive credit. You submissions will be compiled in a Linux environment with g++. For most assignments,
            we will provide a makefile that will compile your code.
            <br/>
        </div>
        <div class="well">

        <div class="sectioncolor"><h1><u>Classes and Objects</u></h1></div>
            <p> should we talk about structure a bit in here before talking about classes?</p>
            <p> In C, what did we use to bind a group of related information together?</p>
            <p>
            <span> <bold> structure in C </bold></span></p>
            <textarea rows="30" cols="100">
#include &lt;stdio.h&gt;

struct Battery{
    float voltage;
    float capacity;
};

int main(){
    struct Battery b1, b2, b3;
    b1.voltage = 1.0; b1.capacity=2.0;
    b2.voltage = 1.0; b2.capacity=3.0;
    b3.voltage = 2.0; b3.capacity=2.0;

    float impedance = 50; // device impedance

    // get the hours that the device can be powered using b1, b2, b3
    // first get the current
    float current1, current2, current3;
    current1 = b1.voltage /impedance;
    current2 = b2.voltage /impedance;
    current3 = b3.voltage /impedance;
    // calculate the time
    float hour1, hour2, hour3;
    hour1 = b1.capacity/current1;
    hour2 = b2.capacity/current1;
    hour3 = b3.capacity/current1;

}
            </textarea>

            <p>This is too much to code. Any better way to do this?</p>

            <h2><u>Classes</u></h2>
            <p>Like in structure, you can link together variables in classes. And you can also group related functions together!</p>
            <h3>class declaration</h3>
            <textarea rows="40" cols="100">
#include &lt;iostream&gt;
using namespace std;

class Battery{ // keyword class
    private: // accessing specifier
        float voltage;  // properties or member variable
        float capacity;
    public:
        void setValues(float v, float c){ // member methods
            voltage = v;
            capacity = c;
        }

        float getVoltage(){
            return voltage;
        }
        float getCapacity(){
            return capacity;
        }

        float getHours(float imp){
            float current = voltage/imp;
            return capacity/current;
        }
};

int main(){
    Battery b1, b2, b3; // creating Battery class. a.k.a. instantiating class object
    b1.setValues(1.0, 2.0);
    b2.setValues(1.0, 3.0);
    b3.setValues(2.0, 2.0);
    float hour1, hour2, hour3;
    hour1 = b1.getHours(50);
    hour2 = b2.getHours(50);
    hour3 = b3.getHours(50);
    cout &lt;&lt; &quot;hour1 is &quot; &lt;&lt; hour1 &lt;&lt; endl;
    cout &lt;&lt; &quot;hour2 is &quot; &lt;&lt; hour2 &lt;&lt; endl;
    cout &lt;&lt; &quot;hour3 is &quot; &lt;&lt; hour3 &lt;&lt; endl;
}

            </textarea>
            <h3> accessing class member</h3>
            <ul>
                <li>private: can only be accessed by members of the same class.</li>
                <li>public: can be accessed by members of its class as well as members of any other class and non-member funcitons</li>
                <li>protected: will be introduced further</li>
            </ul>
        </div>
    </div>
</div>





<!--&lt;!&ndash;<div class="sectioncolor"><h2>Agenda</h2></div>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>cout</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>namespace</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>C++ Syntax</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>Fundamental Data Types</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>Declarations and Definitions</h4></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><h4>Control Structures</h4></li>&ndash;&gt;-->

<!--&lt;!&ndash;</ul>&ndash;&gt;-->


<!--<div class="sectioncolor"><h1><u>Fundamental Data Types:</u></h1></div>-->
<!--<div><p>Boolean,characters,integers,floats, and void</p></div>-->
<!--<ul>-->
<!--<li>bool: true or false</li>-->
<!--<li>char: a character</li>-->
<!--<li>string: an array of characters</li>-->
<!--<li>int, long: an integer</li>-->
<!--<li>float, double: a floating-point real number</li>-->
<!--<li>wchar_t, char16_t, char32_t, short, signed, unsigned, etc...</li>-->
<!--</ul>-->
<!--<p>-->
<!--<h3><u>*We can use cout to output these variables:</u></h3></p>-->

<!--<div class="sectioncolor"><h1><u>Output:</u></h1></div>-->
<!--<textarea rows="10" cols="50">-->
<!--I am Bjarne Stroustrup.-->
<!--I am very 1.-->
<!--My name begins with B.-->
<!--My age is 65.-->
<!--There are 365.25 days in a year.-->

<!--</textarea>-->
<!--<div>-->
<!--<p>*Notice that it doesn't print true. In C++(unlike Java), treats true == 1 and false == 0;-->
<!--</div>-->

<!--<hr/>-->
<!--<hr/>-->

<!--<div class="sectioncolor"><h1><u>Declarations and Definitions:</u></h1></div>-->
<!--<ul>-->
<!--<li>Like Java, all variables must be declared before used</li>-->
<!--<li>You cannot have repeated variable names regardless of data type</li>-->
<!--<li>You can have multiple variable declarations at once</li>-->
<!--<li>Many declarations are also definitions</li>-->
<!--</ul>-->
<!--<textarea rows="14" cols="100">int column, row, index = 0;-->
<!--//only index is set to 0. Instead do:-->

<!--int column, row, index;-->
<!--column = index = row = 0;-->

<!--// Or:-->

<!--int column = 0;-->
<!--int row = 0;-->
<!--int index = 0;-->
<!--</textarea>-->
<!--<div class="sectioncolor"><h1><u>Again we have some variable Declarations:</u></h1></div>-->
<!--<h3>//variable declarations.</h3>-->
<!--<p>string name;-->
<!--<br>char c;-->
<!--<br>int i;-->
<!--<br>bool smart;-->
<!--<br>double avg;-->
<!--</p>-->
<!--<h3>//type declaration(type struct).</h3>-->
<!--<p>struct Date;</p>-->
<!--<h3>//a const bool declaration</h3>-->
<!--<p>const bool i_am_here = true;</p>-->
<!--<p>A const variable can not be reassigned</p>-->
<!--<h3>//a function declaration</h3>-->
<!--<p>int linearSearch(int array[], int size,int searchKey); //returns int value,takes int type parameter.-->


<!--<div class="sectioncolor"><h1><u>Now we have Definitions:</u></h1></div>-->
<!--<div>-->
<!--<h3>//Definition of function linearSearch().</h3>-->
<!--<p>int linearSearch(int array[], int size,int searchKey){-->
<!--<br>&nbsp; &nbsp;for(int i = 0; i < size; i++){-->
<!--<br>&nbsp; &nbsp;&nbsp; &nbsp;if(searchKey == array[i]){-->
<!--<br>&nbsp; &nbsp;&nbsp; &nbsp;return i;-->
<!--<br>&nbsp; &nbsp;&nbsp; &nbsp; }-->
<!--<br>&nbsp; &nbsp;}-->
<!--<br>return -1;-->

<!--<br>}-->
<!--</p>-->
<!--</div>-->
<!--<div>-->
<!--<h3>Definition of struct Date</h3>-->
<!--<p> struct Date {-->
<!--<br> &nbsp; &nbsp; &nbsp; int day;-->
<!--<br> &nbsp; &nbsp; &nbsp; int month;-->
<!--<br> &nbsp; &nbsp; &nbsp; int day;-->
<!--<br> &nbsp;};-->

<!--</p>-->

<!--</div>-->
<!--<div>-->
<!--<h3>Declarations do not have default values</h3>-->

<!--</div>-->
<!--<div>-->
<!--<h3>These declarations are *not* definitions</h3>-->

<!--</div>-->

<!--<hr/>-->
<!--<hr/>-->
<!--<div class="sectioncolor"><h1><u>Again:</u></h1></div>-->
<!--<ul>-->
<!--<li>Every name (identifier) must be declared before use</li>-->
<!--<li>A name can be declared multiples times-->
<!--Helps with separate compilation.-->
<!--Defined in one file, declared and used in others-->
<!--More about this in a couple of lectures-->
<!--</li>-->
<!--<li>There is &le; 1 definition per name</li>-->
<!--<li>Some declarations are also definitions</li>-->


<!--</ul>-->

<!--<hr/>-->
<!--<hr/>-->