<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>List, Stack, Queue</h1></div>
        </div>
    </div>

    <div class="well">
        <h2>Data Structures Overview</h2>

        <h3> <u>Runtime analysis: Big O notation</u> </h3>
        <ul>
            <li>Big O notation is used to classify algorithms by how they respond to changes in input size.</li>
            <li>For example, it shows how does the processing time of an algorithm change as the problem size becomes extremely large.</li>
        </ul>
        <table class="table table-bordered table-striped">
            <thead>
            <th class="info" colspan="3"><h3>Runtime of sorting algorithm</h3></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="30%">input size (n)</td>
                <td width="35%">bubble sort (average number of operations)</td>
                <td width="35%">merge sort (average number of operations)</td>
            </tr>
            <tr>
                <td>n = 2 </td>
                <td> 4 </td>
                <td> 1</td>
            </tr>
            <tr>
                <td> n = 10</td>
                <td> 100 </td>
                <td> 10</td>
            </tr>
            <tr>
                <td> n = 1,000</td>
                <td> 1,000,000</td>
                <td> 3,000</td>
            </tr>
            <tr>
                <td> n</td>
                <td> <font color="red"> <var>O(n&sup2;)</var></font></td>
                <td> <font color="red"><var>O(nlog(n))</var></font></td>
            </tr>
            </tbody>
        </table>


        <div class="well">
            <h2 class="text-center">Vector</h2>

            <table class="table table-bordered table-striped">
                <thead>
                <th class="info" colspan="3"><h3>Runtime of Common Vector Functions</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="10%"><a href="http://www.cplusplus.com/reference/vector/vector/operator%5B%5D/">operator[]</a>
                    </td>
                    <td width="10%" class="text-center"><var>O(1)</var></td>
                    <td width="80%">Random access to any element in the vector by index</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/vector/vector/insert/">insert</a></td>
                    <td class="text-center"><var>O(n)</var></td>
                    <td>Insert elements into the vector and moves all later elements to a higher index to maintain
                        continuous memory.
                    </td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/vector/vector/erase/">erase</a></td>
                    <td class="text-center"><var>O(n)</var></td>
                    <td>Erases elements from the vector and moves all later elements to a lower index to maintain
                        continuous memory.
                    </td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/vector/vector/push_back/">push_back</a></td>
                    <td class="text-center"><var>O(n)</var></td>
                    <td>Adds an element to the next available index in O(1) time in most cases with the possibility of
                        an O(n) resize. Amortized O(n) to insert n elements.
                    </td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/vector/vector/pop_back/">pop_back</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Remove the last element from the vector.</td>
                </tr>
                </tbody>
            </table>

            <!--<table class="table table-bordered table-striped">-->
                <!--<thead>-->
                <!--<th class="info" colspan="3"><h3>Optimal Runtime of Common Vector Algorithms</h3></th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td width="10%">Search</td>-->
                    <!--<td width="10%" class="text-center"><var>O(n)</var></td>-->
                    <!--<td width="80%">Linearly check all elements for equality</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="http://www.cplusplus.com/reference/algorithm/sort/">Sort</a></td>-->
                    <!--<td class="text-center"><var>O(n log(n))</var></td>-->
                    <!--<td>C++ uses a modified merge sort to achieve asymptotically optimal sorting.</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="http://www.cplusplus.com/reference/algorithm/binary_search/">Binary Search</a></td>-->
                    <!--<td class="text-center"><var>O(log(n))</var></td>-->
                    <!--<td><em>Only if the vector is sorted</em>, binary search can be used to find an element.</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

            <p>The good:</p>
            <ul>
                <li>Dynamic size</li>
                <li>[index], push_back, pop_back all take O(1) in most cases</li>
                <!--<li>Sorting takes O(n log n)</li>-->
                <!--<li>Allows for binary search</li>-->
            </ul>
            <p>The bad:</p>
            <ul>
                <li>Insert and Delete take O(n)</li>
                <li>Requires contiguous memory block</li>
            </ul>
            <br/>
            Reference:
            <a href="http://www.cplusplus.com/reference/vector/vector/">http://www.cplusplus.com/reference/vector/vector/</a>
        </div>


        <div class="well">
            <h2 class="text-center">Linked Lists</h2>

            <table class="table table-bordered table-striped">
                <thead>
                <th class="info" colspan="3"><h3>Runtime of Common Linked List Functions</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="10%"><a href="http://www.cplusplus.com/reference/list/list/push_front/">push_front</a>
                    </td>
                    <td width="10%" class="text-center"><var>O(1)</var></td>
                    <td width="80%">Inserts an element to the front of the list.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/list/list/pop_front/">pop_front</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Removes the first element in the list.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/list/list/push_back/">push_back</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Inserts an element to the end of the list.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/list/list/pop_back/">pop_back</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Removes the last element in the list.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/list/list/insert/">insert</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Inserts elements to a specific location in the list. Can require O(n) time to find the
                        location.
                    </td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/list/list/erase/">erase</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Removes elements from a specific location in the list. Can require O(n) time to find the
                        location.
                    </td>
                </tr>
                </tbody>
            </table>

            <!--<table class="table table-bordered table-striped">-->
                <!--<thead>-->
                <!--<th class="info" colspan="3"><h3>Optimal Runtime of Common Linked List Algorithms</h3></th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td width="10%">Search</td>-->
                    <!--<td width="10%" class="text-center"><var>O(n)</var></td>-->
                    <!--<td width="80%">Linearly check all elements in the list</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="http://www.cplusplus.com/reference/list/list/sort/">Sort</a></td>-->
                    <!--<td class="text-center"><var>O(n log(n))</var></td>-->
                    <!--<td>Uses a different algorithm than the vector sorting since list does not have random access to-->
                        <!--it's elements.-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->


            <ul>
                <li>Overcome the bad aspects of vectors and arrays
                    <ul>
                        <li>Insert and Delete in O(1) time</li>
                        <li>Does not need contiguous block of memory</li>
                        <li>Can still grow/shrink dynamically</li>
                        <!--<li>Can still sort in O(n log n), with care</li>-->
                    </ul>
                </li>
                <li>Core data structure for LISP/SCHEME</li>
                <li>However:
                    <ul>
                        <li>No random access</li>
                        <!--<li>Can't do binary search even if the list is sorted, unless a more-->
                            <!--advanced linked list is used-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
            <br/>
            Reference: <a href="http://www.cplusplus.com/reference/list/list/">http://www.cplusplus.com/reference/list/list/</a>
        </div>

        <div class="well">
            <h2 class="text-center">Stack</h2>

            <table class="table table-bordered table-striped">
                <thead>
                <th class="info" colspan="3"><h3>Runtime of Common Stack Functions</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="10%"><a href="http://www.cplusplus.com/reference/stack/stack/push/">push</a>
                    </td>
                    <td width="10%" class="text-center"><var>O(1)</var></td>
                    <td width="80%">Add an element to the top of the stack.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/stack/stack/top/">top</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Observe the top element of the stack.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/stack/stack/pop/">pop</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Remove the top element of the stack. Returns void.</td>
                </tr>
                </tbody>
            </table>

            <br/>
            Reference: <a href="http://www.cplusplus.com/reference/stack/stack/">http://www.cplusplus.com/reference/stack/stack/</a>
        </div>

        <div class="well">
            <h2 class="text-center">Queue</h2>

            <table class="table table-bordered table-striped">
                <thead>
                <th class="info" colspan="3"><h3>Runtime of Common Queue Functions</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="10%"><a href="http://www.cplusplus.com/reference/queue/queue/push/">push</a>
                    </td>
                    <td width="10%" class="text-center"><var>O(1)</var></td>
                    <td width="80%">Add an element to the back of the queue.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/queue/queue/front/">front</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Observe the first element in the queue.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/queue/queue/back/">back</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Observe the last element in the queue.</td>
                </tr>
                <tr>
                    <td><a href="http://www.cplusplus.com/reference/queue/queue/pop/">pop</a></td>
                    <td class="text-center"><var>O(1)</var></td>
                    <td>Remove the front element of the queue. Returns void.</td>
                </tr>
                </tbody>
            </table>

            <br/>
            Reference: <a href="http://www.cplusplus.com/reference/queue/queue/">http://www.cplusplus.com/reference/queue/queue/</a>
        </div>
    </div>
    <div class="well">

        <p>*Much content provided by Dr. Hung Ngo*</p>
        <br/>
        <p>A basic, singly linked list:</p>
        <pre>
class Node {
    Node* next;
    string payload;
    Node(string pl="", Node* n_ptr=NULL) :
    payload(pl), next(n_ptr) {};
};
        </pre>

        <p>Constructing a singly linked list:</p>
<pre>
int main() {
    Node* head = new Node("deep");
    head = new Node("the", head);
    head = new Node("in", head);
    head = new Node("rolling", head);
    print_list(head);
    return 0;
}
</pre>
        <p>This creates the following linked list and returns a pointer to the head.</p>
        <img style="max-width: 80%"  src="images/linked-list1.png">
        <!--<img src="images/List1.png">-->

        <p>Traversing a singly linked list iteratively:</p>
        <pre>
void print_list(Node* ptr) {
    while (ptr != NULL) {
        cout &lt;&lt; ptr-&gt;payload &lt;&lt; " ";
        ptr = ptr-&gt;next;
    }
    cout &lt;&lt; endl;
}
        </pre>
        <p>Can we traverse the list recursively? (hint: the answer is yes)</p>
        <pre>
 //recursive SLL traversal
void print_list(Node* ptr) {
    if (ptr != NULL) {
        cout &lt;&lt; ptr-&gt;payload &lt;&lt; " ";
        print_list(ptr-&gt;next);
    } else {
        cout &lt;&lt; endl;
    }
}
        </pre>
        <p>Linear search:</p>
<pre>
// Iteratively:
Node* iterative_search(const string& key, Node* ptr) {
    while (ptr != NULL && ptr-&gt;payload != key)
        ptr = ptr-&gt;next;
    return ptr;
}

// Recursively:
Node* recursive_search(const string& key, Node* ptr) {
    if (ptr != NULL && ptr-&gt;payload != key)
        return recursive_search(key, ptr-&gt;next);
    else
        return ptr;
}
</pre>
        <p>Delete:</p>
<pre>
void delete_successor(Node* ptr) {
    if (ptr == NULL || ptr-&gt;next == NULL) return;
    Node* temp = ptr-&gt;next;
    ptr-&gt;next = temp-&gt;next;
    delete temp; // always remember this
}
</pre>

        <!--<img src="images/DeleteList.png">-->
        <p>Reverse a List</p>
        <li>Given a head pointer, return the head pointer to the reversed list</li>
<pre>
Node* reverse_sll(Node* head) {
    Node *prev = NULL, *temp;
    while (head != NULL) {
        temp = head-&gt;next;
        head-&gt;next = prev;
        prev = head;
        head = temp;
    }
    return prev;
}
</pre>

        <p>Insert into a sorted list:</p>
<pre>

Node* insert_into_sorted_list(Node* head, Node* node_ptr) {
    // insert in the beginning
    if (head == NULL || node_ptr-&gt;payload &lt; head-&gt;payload) {
        node_ptr-&gt;next = head;
        return node_ptr;
    }

    // insert in the middle, first look for spot
    Node *prev = head, *temp = head-&gt;next;
    while (temp != NULL && temp-&gt;payload &lt; node_ptr-&gt;payload) {
        prev = temp;
        temp = temp-&gt;next;
    }

    prev-&gt;next= node_ptr;
    node_ptr-&gt;next = temp;
    return head;
}
</pre>
        <p><b>Properties of Singly Linked Lists</b></p>
        <ul>
            <li>Delete and Insert: O(1)-time if we know where
                <ul>
                    <li>Especially great if we operate on the two ends</li>
                    <li>O(1)-time for stack and queue operations</li>
                </ul>
            </li>
            <li>Search: O(n)-space for all the pointers
                <ul>
                    <li>However, this O(n) is only on the pointers!</li>
                </ul>
            </li>
            <!--<li>What about sorting?-->
                <!--<ul>-->
                    <!--<li>Insertion sort: O(n<sup>2</sup>)</li>-->
                    <!--<li>Merge sort: O(n log n)</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li>Many other types of computations can be done iteratively or recursively
                <ul>
                    <li>Count number of members in the list</li>
                    <li>Remove duplicate elements</li>
                    <li>Swap 2 sub-blocks of two lists</li>
                    <li>Remove elements of a given key</li>
                    <li>etc.</li>
                </ul>
            </li>
            <li>Can't go backwards</li>
        </ul>
        <br>
        <p>Doubly Linked Lists</p>
        <ul>
            <li>Can go backwards and forwards through the list</li>
            <li>Uses one extra pointer per element</li>
        </ul>
        <img src="images/DLL.png">
        <br>
        <p>The Main Problem with Linked Lists:</p>
        <img src="images/FunctionRuntimes1.png">
        <br/>
        <h2>Queue in C++</h2>
        <p>
            Queue: <a href="http://www.cplusplus.com/reference/queue/queue/">http://www.cplusplus.com/reference/queue/queue/</a>
        </p>
        <p>By default, a C++ queue is implemented using a doubly linked-list (<a
                href="http://www.cplusplus.com/reference/deque/deque/">deque</a>).</p>
        <ul>
            <li><h4>Push(element)</h4></li>
            <ul>
                <li>Adds element to the back of the queue in O(1) time.</li>
            </ul>
            <li><h4>Pop()</h4></li>
            <ul>
                <li>Removes the first element in the queue in O(1) time. Returns void, not the value of the element.</li>
            </ul>
            <li><h4>element& front()</h4></li>
            <ul>
                <li>Return the value of the first element of the stack by reference in O(1) time.</li>
            </ul>

            <li><h4>element& back()</h4></li>
            <ul>
                <li>Return the value of the last element of the stack by reference in O(1) time.</li>
            </ul>
        </ul>
        <br/>
        <h2>Stack in C++</h2>
        <p>
            Stack: <a href="http://www.cplusplus.com/reference/stack/stack/">http://www.cplusplus.com/reference/stack/stack/</a>
        </p>
        <p>By default, a C++ stack is implemented using a doubly linked-list (<a
                href="http://www.cplusplus.com/reference/deque/deque/">deque</a>).</p>
        <ul>
            <li><h4>Push(element)</h4></li>
            <ul>
                <li>Adds element to the top of the stack in O(1) time.</li>
            </ul>
            <li><h4>element& top()</h4></li>
            <ul>
                <li>Return the value of the top element of the stack by reference in O(1) time.</li>
            </ul>
            <li><h4>Pop()</h4></li>
            <ul>
                <li>Removes the top element of the stack in O(1) time. Returns void, not the value of the element.</li>
            </ul>
        </ul>
<pre>
stack&lt;string&gt; st;

    st.push("abc");
    st.push("xyz");
    st.pop();
    st.push("ABC");

    cout &lt;&lt; st.size() &lt;&lt; endl; // 2
    cout &lt;&lt; st.top() &lt;&lt; endl; // ABC
    st.pop();
    cout &lt;&lt; st.size() &lt;&lt; " " &lt;&lt; st.top() &lt;&lt; endl; // 1 "abc"
    st.pop();

    if (st.empty())
    cout &lt;&lt; "EMPTY" &lt;&lt; endl; // EMPTY
</pre>
        <img src="images/PushPopTopStack.png">
        <br>

        <p>Applications:
        <ul>
            <li>OS manages process's function calls with a stack</li>
            <li>Back-tracking in search algorithms
                <ul>
                    <li>DFS in a graph traversal (extremely useful!!!)</li>
                    <li>Search for a path to escape a maze</li>
                </ul>
            </li>
            <li>Parse open-close tags/braces in language
                <ul>
                    <li>HTML, XML, C++, Java</li>
                </ul>
            </li>
            <li>Infix/prefix/postfix-expression evaluation</li>
            <li>Reverse stuff
                <ul>
                    <li>Detect palindrome</li>
                    <li>Convert decimal to binary</li>
                </ul>
            </li>
        </ul>
        </p>
        <br>
        <p>Algorithm for Recognizing a Well-Formed Expression
        <ul>
            <li>Read the next delimiter token</li>
            <li>If it is an open delimiter (i.e. [, (, {)
                <ul>
                    <li>Push it to the stack</li>
                </ul>
            </li>
            <li>If it is a closing delimiter (i.e. ], ), })
                <ul>
                    <li>match it with a corresponding open delimiter in the stack ([ with ] and so on)</li>
                    <li>If there is no match -> not well-formed</li>
                    <li>If there is a match, stack.pop() and discard both</li>
                </ul>

            </li>
            <li>When there is no more tokens left
                <ul>
                    <li>If the stack is empty -> well-formed</li>
                    <li>If the stack is not empty -> not well-formed</li>
                </ul>
            </li>
        </ul>
        </p>
        <br>
        <h2>Stack and Queue Examples</h2>
        <h3> Example1: player</h3>


        <p>These examples include queues, which are implemented in C++ with doubly linked lists.</p>

        <p>player.h</p>
<pre>
#ifndef CSE250_FALL2015_PLAYER_H
#define CSE250_FALL2015_PLAYER_H


class Player{
private:
    double _weight;
    double _chi;

public:
    Player(double, double);

    double getWeight() const;
    double getChi() const;
};


#endif
</pre>
        <p>player.cpp</p>
<pre>
#include "player.h"

Player::Player(double weight, double chi) : _weight(weight), _chi(chi) {}

double Player::getWeight() const {
  return _weight;
}

double Player::getChi() const {
  return _chi;
}
</pre>


        <p>StackQueue.cpp</p>
<pre>
#include &lt;iostream&gt;
#include &lt;stack&gt;
#include &lt;queue&gt;
#include &lt;deque&gt;

#include "player.h"

using namespace std;

void stackExample();
void printStack(stack&lt;Player&gt;);
string printPlayer(const Player&);
void printQueue(queue&lt;Player&gt; players);
void queueExample();


void stackExample(){
    stack&lt;Player&gt; playerStack;
    cout &lt;&lt; "is the stack empty: " &lt;&lt; playerStack.empty() &lt;&lt; endl;
    //playerStack.pop();
    Player player1(1.1,1.4);
    playerStack.push(player1);
    cout &lt;&lt; "is the stack empty: " &lt;&lt; playerStack.empty() &lt;&lt; endl;
    cout &lt;&lt; "top: " &lt;&lt; printPlayer(playerStack.top()) &lt;&lt; endl;
    playerStack.push(*(new Player(5.4,6.6)));
    playerStack.push(Player(1.3,7.9));
    playerStack.push(Player(0.4,9.5));
    playerStack.push(Player(0.2,5.3));
    cout &lt;&lt; "top: " &lt;&lt; printPlayer(playerStack.top());
    playerStack.pop();
    cout &lt;&lt; "top: " &lt;&lt; printPlayer(playerStack.top());
    printStack(playerStack);
    cout &lt;&lt; "is the stack empty: " &lt;&lt; playerStack.empty() &lt;&lt; endl;
    printStack(playerStack);
}

string printPlayer(const Player& player){
    cout &lt;&lt; "weight: " &lt;&lt; player.getWeight() &lt;&lt; " | chi: " &lt;&lt; player.getChi() &lt;&lt; endl;
    return "";
}

void printStack(stack&lt;Player&gt; players){
    cout &lt;&lt; endl &lt;&lt; "stack: " &lt;&lt; endl;
    while(!players.empty()){
        printPlayer(players.top());
        players.pop();
    }
    cout &lt;&lt; endl;
}


void queueExample(){
    queue&lt;Player&gt; playerQueue;
    //cout &lt;&lt; "is the queue empty: " &lt;&lt; playerQueue.empty() &lt;&lt; endl;
    // playerStack.pop();
    Player player1(1.1,1.4);
    playerQueue.push(player1);
    //cout &lt;&lt; "is the queue empty: " &lt;&lt; playerQueue.empty() &lt;&lt; endl;
    //cout &lt;&lt; "front: " &lt;&lt; printPlayer(playerQueue.front()) &lt;&lt; endl;
    playerQueue.push(Player(5.4,6.6));
    playerQueue.push(Player(1.3,7.9));
    playerQueue.push(Player(0.4,9.5));
    playerQueue.push(Player(0.2,5.3));
    cout &lt;&lt; "front: " &lt;&lt; printPlayer(playerQueue.front()) &lt;&lt; endl;
    playerQueue.pop();
    //cout &lt;&lt; "front: " &lt;&lt; printPlayer(playerQueue.front()) &lt;&lt; endl;
    //printQueue(playerQueue);

    //cout &lt;&lt; "is the queue empty: " &lt;&lt; playerQueue.empty() &lt;&lt; endl;

    stack&lt;Player&gt; playerStack;
    playerStack.push(Player(5.4,6.6));
    playerStack.push(Player(1.3,7.9));
    playerStack.push(Player(0.4,9.5));
    playerStack.push(Player(0.2,5.3));
    //printStack(playerStack);
}

void printQueue(queue&lt;Player&gt; players){
    cout &lt;&lt; endl &lt;&lt; "queue: " &lt;&lt; endl;
    while(!players.empty()){
        printPlayer(players.front());
        players.pop();
    }
    cout &lt;&lt; endl;
}


int main(){
    stackExample();
    //queueExample();
    return 0;
}



</pre>


        <h3>Example 2: network</h3>
        <p> Assume there's an image transporting network. Each packet is an image patch. Image patches are arranged in Zig-Zag format. </p>
        <img src="images/network.png">
        <p> Router output is in-order image patches. </p>
        <p> Idea: combine queue and stack.</p>

        <p>Router.h</p>
        <textarea rows="27" cols="100">
#ifndef EAS240_SPRING2016_ROUTER_H
#define EAS240_SPRING2016_ROUTER_H

#include &lt;iostream&gt;
#include &lt;queue&gt;
#include &lt;stack&gt;

using namespace std;

class Router{
    private:
        int len;
        queue&lt;int&gt; input;
        queue&lt;int&gt; output;

    public:
        Router(int length, queue&lt;int&gt; input_packets);

        void getOutput(); // change 123654789 to 123456789
        void printOutput();

        ~Router();
};

#endif
        </textarea>

        <p> Router.cpp</p>
        <textarea rows="50" cols="100">
#include "Router.h"

Router::Router(int length, queue&lt;int&gt; input_packets){
    len = length;
    input = input_packets;
}


void Router::getOutput(){

    stack&lt;int&gt; buffer;
    bool inorder=true;

    while(!input.empty()){
        for( int i = 0; i < len && !input.empty() ; i++){
            int cur = input.front();
            input.pop();
            if (inorder == true){
                output.push(cur);
            }
            else{
                buffer.push(cur); // if it's reverse order, put it in stack buffer.
            }
        }
        if (inorder == true){
            inorder = false;
        }
        else{
            while(!buffer.empty()){
                int cur = buffer.top();
                buffer.pop();
                output.push(cur);
            }
            inorder = true;
        }
    }
}

void Router::printOutput(){
    while(!output.empty()){
        cout << output.front() << endl;
        output.pop();
    }
}

Router::~Router(){}

        </textarea>

        <p>run.cpp</p>

        <textarea rows="18" cols="100">
#include "Router.h"

int main(){
    int arr[9] = {1, 2, 3, 6, 5, 4, 7, 8, 9};
    queue&lt;int&gt; input;
    for ( int i = 0; i < 9; i++){
        input.push(arr[i]);
    }

    Router* myRouter= new Router(3, input);
    myRouter->getOutput();
    myRouter->printOutput();

    delete myRouter;
}

        </textarea>
    </div>
</div>
